node_modules/
.env
*.log
.DS_Store
*.sqlite
*.sqlite3
gmail/
data/
Job Cards/
*.pdf
*.jpg
*.png
*.jpeg
*.jpg
# Do not ignore stored signature images
!signatures/**/*.png
!signatures/**/*.jpg
!signatures/**/*.jpeg
*.sh
scripts/
!README.md
templates/